RewriteEngine On

# Redirect non-www to www (with HTTPS assumed for modern sites)
RewriteCond %{HTTP_HOST} ^cognivicdigital\.com [NC]
RewriteRule ^(.*)$ https://www.cognivicdigital.com/$1 [L,R=301]

RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=302,L,NE]
